/* mobile */
@media (max-width  :739px) { 
    .hide-on-mobile { 
        display: none;
    }
}


/* tablet */
@media (min-width : 740px) and 
(max-width :1023px)
{ 
    .hide-on-tablet { 
        display: none;
    }
    .header-cart { 
        width : 75px;
    }
}

/* mobile and tablet */
@media (max-width : 1024px)
{ 
    :root { 
    --navbar-height : 0px;
    --header-height : 68px;
   
    }
    .hide-on-mobile-tablet { 
        display: none;
    }
   
    
}